<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="backpart.css" />
        <link
            href="https://fonts.googleapis.com/css?family=Poppins"
            rel="stylesheet"
        />
    </head>
    <body>
        <main>
            <!-- start of condition -->
            <div class="condition">
                <div>
                    <p>CONDITION OF PAYMENT</p>
                    <p><b>A.</b> MODE OF PAYMENT</p>
                </div>
                <div>
                    <p>O.R. #<span style="margin-left: 80px">⸻⸻⸻⸻</span></p>
                    <p>
                        Amount Paid<span style="margin-left: 45px">⸻⸻⸻⸻</span>
                    </p>
                    <p>Date<span style="margin-left: 85px">⸻⸻⸻⸻</span></p>
                    <p>
                        Cashier Signature<span style="margin-left: 20px"
                            >⸻⸻⸻⸻</span
                        >
                    </p>
                </div>
            </div>
            <!-- end of condition -->

            <p>
                The tuition and other school fees shall be payable in cash in
                <b><u>4</u> monthly installments</b> in accordance with the
                following schedule.
            </p>

            <!-- start of payable -->
            <div class="payable">
                <div>
                    <p>
                        1st payment
                        <span style="margin: 0 10px 0 14px">⸻⸻⸻</span> payable
                        on or before
                    </p>
                    <p>
                        2nd payment
                        <span style="margin: 0 10px 0 07px">⸻⸻⸻</span> payable
                        on or before
                    </p>
                    <p>
                        3rd payment
                        <span style="margin: 0 10px 0 10px">⸻⸻⸻</span> payable
                        on or before
                    </p>
                    <p>
                        4th payment
                        <span style="margin: 0 10px 0 10px">⸻⸻⸻</span> due on or
                        before
                    </p>
                </div>
                <div>
                    <p>Prelim Exam</p>
                    <p>Midterm Exam</p>
                    <p>Prefinal Exam</p>
                    <p>Final Exam</p>
                </div>
            </div>
            <!-- end of payable -->

            <p>
                In case failure at least two (2) installments of the due date
                and demandable tuition and other school fees as indicated in the
                above schedule of payment on installments, we (the parents) or I
                (in case of student) shall recognize, without reservation, the
                right/authority of the school to drop me (or our child) from the
                school (or suspend me or our child) from further attending
                classes and enter the school campus, without need of judicial
                intervention or permission. That I, (our child) shall be
                admitted only as soon as the tuition and other school fees are
                paid PROVIDED, however, that I, (our child) will be solely
                responsible in keeping up with the lessons and assignments
                missed and shall not have any right to require that special
                lessons, quizzes and or examinations be given to make up for the
                quizzes and/or examinations given during the school day (our
                child was not allowed to enter and attend classes).
            </p>

            <p style="margin-top: -10px">
                <b>B.</b> Policy on withdrawals and refund
            </p>
            <div class="part-b">
                <p>
                    <span style="padding-left: 50px"></span>The date of filling
                    the notice or withdrawal shall be considered the date of
                    withdrawal and shall be the basis in determining the amount
                    to be charged for the term. Computation for adjustment will
                    be in the accounting Office.
                </p>
                <p>
                    <b>1.</b> Enrollment deposited can be refunded subject to
                    the following conditions.
                </p>
                <div class="abc">
                    <p>
                        a. 80% refund before the subject are encoded and before
                        the enrollment closes.
                    </p>
                    <p>
                        b. 20% refund if the subject are encoded before the
                        enrollment closes.
                    </p>
                    <p>c. No refund after the enrollment closes.</p>
                </div>
                <p>
                    <b>2.</b> 10% charge on tuition and other school fees if a
                    student withdraws within the first week of classes
                    regardless of whether or not <br />
                    <span>he/she actually attended classes.</span>
                </p>
                <p>
                    <b>3.</b> 20% charge on tuition and other school fees if a
                    student withdraws within the first week of classes
                    regardless of whether or not <br />
                    <span>he/she actually attended classes.</span>
                </p>
                <p>
                    <b>4.</b> 50% charge on tuition and other school fees if a
                    student withdraws within the first week of classes
                    regardless of whether or not <br />
                    <span>he/she actually attended classes.</span>
                </p>
                <p>
                    <b>5.</b> 75% charge on tuition and other school fees if a
                    student withdraws within the first week of classes
                    regardless of whether or not <br />
                    <span>he/she actually attended classes.</span>
                </p>
                <p>
                    <b>6.</b> 100% charge on tuition and other school fees if a
                    student withdraws within the first week of classes
                    regardless of whether or not <br />
                    <span>he/she actually attended classes.</span>
                </p>
            </div>
            <br />
            <div class="applicant-name">
                <p>Applicant's Signature above Printed Name</p>
            </div>

            <div class="separator"></div>
            <br /><br />

            <!-- start of condition -->
            <div class="condition">
                <div>
                    <p>CONDITION OF PAYMENT</p>
                    <p><b>A.</b> MODE OF PAYMENT</p>
                </div>
                <div>
                    <p>O.R. #<span style="margin-left: 80px">⸻⸻⸻⸻</span></p>
                    <p>
                        Amount Paid<span style="margin-left: 45px">⸻⸻⸻⸻</span>
                    </p>
                    <p>Date<span style="margin-left: 85px">⸻⸻⸻⸻</span></p>
                    <p>
                        Cashier Signature<span style="margin-left: 20px"
                            >⸻⸻⸻⸻</span
                        >
                    </p>
                </div>
            </div>
            <!-- end of condition -->

            <p>
                The tuition and other school fees shall be payable in cash in
                <b><u>4</u> monthly installments</b> in accordance with the
                following schedule.
            </p>

            <!-- start of payable -->
            <div class="payable">
                <div>
                    <p>
                        1st payment
                        <span style="margin: 0 10px 0 14px">⸻⸻⸻</span> payable
                        on or before
                    </p>
                    <p>
                        2nd payment
                        <span style="margin: 0 10px 0 07px">⸻⸻⸻</span> payable
                        on or before
                    </p>
                    <p>
                        3rd payment
                        <span style="margin: 0 10px 0 10px">⸻⸻⸻</span> payable
                        on or before
                    </p>
                    <p>
                        4th payment
                        <span style="margin: 0 10px 0 10px">⸻⸻⸻</span> due on or
                        before
                    </p>
                </div>
                <div>
                    <p>Prelim Exam</p>
                    <p>Midterm Exam</p>
                    <p>Prefinal Exam</p>
                    <p>Final Exam</p>
                </div>
            </div>
            <!-- end of payable -->

            <p>
                In case failure at least two (2) installments of the due date
                and demandable tuition and other school fees as indicated in the
                above schedule of payment on installments, we (the parents) or I
                (in case of student) shall recognize, without reservation, the
                right/authority of the school to drop me (or our child) from the
                school (or suspend me or our child) from further attending
                classes and enter the school campus, without need of judicial
                intervention or permission. That I, (our child) shall be
                admitted only as soon as the tuition and other school fees are
                paid PROVIDED, however, that I, (our child) will be solely
                responsible in keeping up with the lessons and assignments
                missed and shall not have any right to require that special
                lessons, quizzes and or examinations be given to make up for the
                quizzes and/or examinations given during the school day (our
                child was not allowed to enter and attend classes).
            </p>

            <p style="margin-top: -10px">
                <b>B.</b> Policy on withdrawals and refund
            </p>
            <div class="part-b">
                <p>
                    <span style="padding-left: 50px"></span>The date of filling
                    the notice or withdrawal shall be considered the date of
                    withdrawal and shall be the basis in determining the amount
                    to be charged for the term. Computation for adjustment will
                    be in the accounting Office.
                </p>
                <p>
                    <b>1.</b> Enrollment deposited can be refunded subject to
                    the following conditions.
                </p>
                <div class="abc">
                    <p>
                        a. 80% refund before the subject are encoded and before
                        the enrollment closes.
                    </p>
                    <p>
                        b. 20% refund if the subject are encoded before the
                        enrollment closes.
                    </p>
                    <p>c. No refund after the enrollment closes.</p>
                </div>
                <p>
                    <b>2.</b> 10% charge on tuition and other school fees if a
                    student withdraws within the first week of classes
                    regardless of whether or not <br />
                    <span>he/she actually attended classes.</span>
                </p>
                <p>
                    <b>3.</b> 20% charge on tuition and other school fees if a
                    student withdraws within the first week of classes
                    regardless of whether or not <br />
                    <span>he/she actually attended classes.</span>
                </p>
                <p>
                    <b>4.</b> 50% charge on tuition and other school fees if a
                    student withdraws within the first week of classes
                    regardless of whether or not <br />
                    <span>he/she actually attended classes.</span>
                </p>
                <p>
                    <b>5.</b> 75% charge on tuition and other school fees if a
                    student withdraws within the first week of classes
                    regardless of whether or not <br />
                    <span>he/she actually attended classes.</span>
                </p>
                <p>
                    <b>6.</b> 100% charge on tuition and other school fees if a
                    student withdraws within the first week of classes
                    regardless of whether or not <br />
                    <span>he/she actually attended classes.</span>
                </p>
            </div>
            <br />
            <div class="applicant-name">
                <p>Applicant's Signature above Printed Name</p>
            </div>
        </main>
    </body>
</html>
