<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>
<body>
      <div class="container1">
        <div class="row">

        <!-- start of row-con -->
        <div class="row-con">

          <div class="col12">
            <!-- start of col-1 -->
          <div class="col-1">
                <p>(<span> </span>) Form 136-A</p>
                <p>(<span> </span>) Birth Certificate (NSO)</p>
                <p>(<span> </span>) Honorable Dismissal</p>
                <p>(<span> </span>) Certificate of Transfer Credentials</p>
                <p>(<span> </span>) 1x1 Colored Picture (4 pcs.)</p>
                <p>(<span> </span>) Medical Certificate</p>
                <p>(<span> </span>) Certificate of Good Moral</p>
                <p>(<span> </span>) Drug Test</p>
          </div>
          <!-- end of col-1 -->

          <!-- start of col-2 -->
          <div class="col-2">
                <img src="images/scclogo.png" alt="">
                <div>
                    <h4 style="margin: 15px 0 -5px 0;">St. Cecilia's College - Cebu, Inc</h4>
                    <h4 style="margin-bottom: -8px;">De La Salle Supervised School</h4>
                    <h5>HIGHER EDUCATION DEPARTMENT</h5> 
                    
                    <h5 style="letter-spacing: 1px;margin: 20px 0 0 0;">REGISTRATION FORM</h5>
                    <p><u>1st</u> Semester/Term</p>
                    <p>AY <span class="span-ay">2024-2025</span></p>
                </div>
                <img src="images/St.John.png" alt="">
          </div>
          <!-- end of col-2 -->
        </div>

          <!-- start of col-3 -->
          <div class="col-3">
            <table class="table">
                <tbody>
                  <tr>
                    <td></td>
                    <td>Shiftee from:</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>to:</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>Transferee</td>
                  </tr>
                  <tr></tr>
                    <td></td>
                    <td>Returnee</td>
                  </tr>
                  <tr></tr>
                    <td></td>
                    <td>New Student</td>
                  </tr>
                  <tr></tr>
                    <td></td>
                    <td>Old Student</td>
                  </tr>
                  <tr></tr>
                    <td></td>
                    <td>ID No. <span><u style="font-weight: normal;">18-0006287</u></span></td>
                  </tr>
                </tbody>
              </table>
          </div>
          <!-- end of col-3 -->
        </div>
        <!-- end of row-con -->

        <!-- start of academic-stat -->
        <div class="academic-stat">
            <div>
                <p><span class="a-stat">Academic Status:</span> (<span> </span>) Regular</p>
                <p>(<span> </span>) Irregular</p>
            </div>
            <div>
                <p>Year<span class="span-year">:<span class="u-year">{{ $program }}</span></span></p>
                <p>Program<span class="span-program">:<span class="u-program">{{ $yearLevel }}</span></span></p>
            </div>
        </div>
        <!-- end of academic-stat -->

        <!-- start of peronal-info -->
         <div class="personal-info">
            <table>
                <tbody>
                    <tr>
                        <td><b>Name:</b></td>
                        <td>Aniñon</td>
                        <td>{{ $student->FullName }}</td>
                        <td>Ugsimar</td>
                        <td></td>
                        <td><b>Mobile No:</b> <span>09506832656</span></td>
                    </tr>
                    <tr class="name">
                        <td></td>
                        <td>Surname</td>
                        <td>First Name</td>
                        <td>Middle Name</td>
                    </tr>
                    <tr>
                        <td><b>Date of Birth:</b><span> {{ $student->Birthday }}</span></td>
                        <td><b>Month:</b> <span>December</span></td>
                        <td><b>Day:</b> <span>12</span></td>
                        <td><b>Sex:</b> <span> {{ $student->Gender }}</span></td>
                        <td><b>Religion:</b> <span>Catholic</span></td>
                        <td><b>Status:</b> <span>Single</span></td>
                    </tr>
                </tbody>
            </table>

            <div class="asd">
              <p><b>Place of Birth: </b><span>Barili, Cebu</span></p>
            </div>
            <br>
            <div class="asd">
              <p><b>Home Address: </b><span>Tungkop, Minglanilla, Cebu</span></p>
              <p><b>Present Address: </b><span>Tungkop Minglanilla Cebu</span></p>
            </div>
            <br>
            <div class="asd">
              <p><b>Previous School Attended: </b><span>St. Cecilia's College-Cebu, Inc</span></p>
              <p><b>Previous School Address: </b><span>Poblacion Ward II, Minglanilla, Cebu</span></p>
            </div>
            <br>
            <div class="asd asd1">
              <p><b>Father's Name: </b><span>Domingo U. Aniñon</span></p>
              <p class="occupation"><b>Occupation: </b><span>Maintenance Personnel</span></p>
              <p class="employer"><b>Employer: </b><span>NMISI</span></p>
            </div>
            <br>
            <div class="asd asd1">
              <p><b>Mother's Name: </b><span>Gina U. Aniñon</span></p>
              <p class="occupation"><b>Occupation: </b><span>Housewife</span></p>
              <p class="employer"><b>Employer: </b><span></span></p>
            </div>
            <br>
            <div class="asd asd1">
              <p><b>Guardian: </b><span>Gina U. Aniñon</span></p>
              <p class="occupation"><b>Occupation: </b><span>Housewife</span></p>
              <p class="employer"><b>Employer: </b><span></span></p>
            </div>
            <br><br>
         <!-- end of personal-info -->

         <!-- start of courses -->
          <table class="courses">
            <thead>
              <tr>
                <td>COURSE <br> CODE NO.</td>
                <td>COURSE DESCRIPTION</td>
                <td style="width: 60px;">UNITS<br><span class="h-units"><p>Lab</p><p>Lec</p></span></td>
                <td style="width: 50px;">DAYS</td>
                <td style="width: 140px;">TIME</td>
                <td style="width: 50px;">ROOM</td>
                <td style="width: 100px;">INSTRUCTOR</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="code">CAP401</td>
                <td class="cap">Capstone Project2</td>
                <td class="units"><p>1</p><p>2</p></td>
                <td>THU</td>
                <td style="width: 120px;">05:00 PM-08:30 PM</td>
                <td></td>
                <td>Brigildo</td>
              </tr>
              <tr>
                <td class="code">IT402</td>
                <td class="cap">Free Elective</td>
                <td class="units"><p>1</p><p>2</p></td>
                <td>MW</td>
                <td style="width: 120px;">06:00 PM-08:30 PM</td>
                <td></td>
                <td>Cilin</td>
              </tr>
              <tr>
                <td class="code">SP403</td>
                <td class="cap">Social and Professional Issues</td>
                <td class="units"><p></p><p>3</p></td>
                <td>MONT</td>
                <td style="width: 120px;">01:00 PM-03:00 PM</td>
                <td></td>
                <td>Lisondra</td>
              </tr>
              <tr>
                <td class="code">IT404</td>
                <td class="cap">Seminars in IT Trends</td>
                <td class="units"><p></p><p>3</p></td>
                <td>SAT</td>
                <td style="width: 120px;">07:30 PM-10:30 PM</td>
                <td></td>
                <td>Quiroga</td>
              </tr>
              <tr>
                <td class="code">IT404</td>
                <td class="cap">System Administrator and Maintenance</td>
                <td class="units"><p>1</p><p>2</p></td>
                <td>SAT</td>
                <td style="width: 120px;">01:00 PM-06:00 PM</td>
                <td></td>
                <td>Cilin</td>
              </tr>
              <tr>
                <td class="code">&nbsp;</td>
                <td class="cap"></td>
                <td class="units"><p>&nbsp;</p><p></p></td>
                <td></td>
                <td style="width: 120px;"></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td class="code">&nbsp;</td>
                <td class="cap"></td>
                <td class="units"><p>&nbsp</p><p></p></td>
                <td></td>
                <td style="width: 120px;"></td>
                <td></td>
                <td></td>
              </tr>
                <td class="code nb"></td>
                <td class="cap" style="text-align: right !important;border-left: none !important;"><b>Total Number of Units</b></td>
                <td>15</td>
                <td class="nb"></td>
                <td class="nb" style="width: 120px;"></td>
                <td class="nb"></td>
                <td class="nb"></td>
              </tr>
            </tbody>
          </table>
          <!-- end of courses -->

       </div>

       <div class="applicant">
        <p>Mark Eliezon U. Aniñon<br>  <b>Applicant's Signature above Printed Name</b></p>
      </div>

      <p style="font-size: 12px;margin-top: -10px;"><b>Approved by:</b></p>

      <div class="approved-by">
        <p><b>Program Head</b></p>
        <p style="padding-left: 35px;"><b>Dean</b></p>
        <p style="padding-left: 25px;"><b>Registrar</b></p>
        <p style="padding-left: 30px;"><b>Cashier</b></p>
      </div>

      <br>
      <div class="separator"></div>
      <br><br>

      <!-- start of row-con -->
      <div class="row-con">

        <div class="col12">
          <!-- start of col-1 -->
        <div class="col-1">
              <p>(<span> </span>) Form 136-A</p>
              <p>(<span> </span>) Birth Certificate (NSO)</p>
              <p>(<span> </span>) Honorable Dismissal</p>
              <p>(<span> </span>) Certificate of Transfer Credentials</p>
              <p>(<span> </span>) 1x1 Colored Picture (4 pcs.)</p>
              <p>(<span> </span>) Medical Certificate</p>
              <p>(<span> </span>) Certificate of Good Moral</p>
              <p>(<span> </span>) Drug Test</p>
        </div>
        <!-- end of col-1 -->

        <!-- start of col-2 -->
        <div class="col-2">
              <img src="images/scclogo.png" alt="">
              <div>
                  <h4 style="margin: 15px 0 -5px 0;">St. Cecilia's College - Cebu, Inc</h4>
                  <h4 style="margin-bottom: -8px;">De La Salle Supervised School</h4>
                  <h5>HIGHER EDUCATION DEPARTMENT</h5> 
                  
                  <h5 style="letter-spacing: 1px;margin: 20px 0 0 0;">REGISTRATION FORM</h5>
                  <p><u>1st</u> Semester/Term</p>
                  <p>AY <span class="span-ay">2024-2025</span></p>
              </div>
              <img src="images/St.John.png" alt="">
        </div>
        <!-- end of col-2 -->
      </div>

        <!-- start of col-3 -->
        <div class="col-3">
          <table class="table">
              <tbody>
                <tr>
                  <td></td>
                  <td>Shiftee from:</td>
                </tr>
                <tr>
                  <td></td>
                  <td>to:</td>
                </tr>
                <tr>
                  <td></td>
                  <td>Transferee</td>
                </tr>
                <tr></tr>
                  <td></td>
                  <td>Returnee</td>
                </tr>
                <tr></tr>
                  <td></td>
                  <td>New Student</td>
                </tr>
                <tr></tr>
                  <td></td>
                  <td>Old Student</td>
                </tr>
                <tr></tr>
                  <td></td>
                  <td>ID No. <span><u style="font-weight: normal;">18-0006287</u></span></td>
                </tr>
              </tbody>
            </table>
        </div>
        <!-- end of col-3 -->
      </div>
      <!-- end of row-con -->

      <!-- start of academic-stat -->
      <div class="academic-stat">
          <div>
              <p><span class="a-stat">Academic Status:</span> (<span> </span>) Regular</p>
              <p>(<span> </span>) Irregular</p>
          </div>
          <div>
              <p>Year<span class="span-year">:<span class="u-year">4th</span></span></p>
              <p>Program<span class="span-program">:<span class="u-program">BSIT</span></span></p>
          </div>
      </div>
      <!-- end of academic-stat -->

      <!-- start of peronal-info -->
       <div class="personal-info">
          <table>
              <tbody>
                  <tr>
                      <td><b>Name:</b></td>
                      <td>Aniñon</td>
                      <td>Mark Eliezon</td>
                      <td>Ugsimar</td>
                      <td></td>
                      <td><b>Mobile No:</b> <span>09506832656</span></td>
                  </tr>
                  <tr class="name">
                      <td></td>
                      <td>Surname</td>
                      <td>First Name</td>
                      <td>Middle Name</td>
                  </tr>
                  <tr>
                      <td><b>Date of Birth:</b><span> 2000</span></td>
                      <td><b>Month:</b> <span>December</span></td>
                      <td><b>Day:</b> <span>12</span></td>
                      <td><b>Sex:</b> <span>Male</span></td>
                      <td><b>Religion:</b> <span>Catholic</span></td>
                      <td><b>Status:</b> <span>Single</span></td>
                  </tr>
              </tbody>
          </table>

          <div class="asd">
            <p><b>Place of Birth: </b><span>Barili, Cebu</span></p>
          </div>
          <br>
          <div class="asd">
            <p><b>Home Address: </b><span>Tungkop, Minglanilla, Cebu</span></p>
            <p><b>Present Address: </b><span>Tungkop Minglanilla Cebu</span></p>
          </div>
          <br>
          <div class="asd">
            <p><b>Previous School Attended: </b><span>St. Cecilia's College-Cebu, Inc</span></p>
            <p><b>Previous School Address: </b><span>Poblacion Ward II, Minglanilla, Cebu</span></p>
          </div>
          <br>
          <div class="asd asd1">
            <p><b>Father's Name: </b><span>Domingo U. Aniñon</span></p>
            <p class="occupation"><b>Occupation: </b><span>Maintenance Personnel</span></p>
            <p class="employer"><b>Employer: </b><span>NMISI</span></p>
          </div>
          <br>
          <div class="asd asd1">
            <p><b>Mother's Name: </b><span>Gina U. Aniñon</span></p>
            <p class="occupation"><b>Occupation: </b><span>Housewife</span></p>
            <p class="employer"><b>Employer: </b><span></span></p>
          </div>
          <br>
          <div class="asd asd1">
            <p><b>Guardian: </b><span>Gina U. Aniñon</span></p>
            <p class="occupation"><b>Occupation: </b><span>Housewife</span></p>
            <p class="employer"><b>Employer: </b><span></span></p>
          </div>
          <br><br>
       <!-- end of personal-info -->

       <!-- start of courses -->
        <table class="courses">
          <thead>
            <tr>
              <td>COURSE <br> CODE NO.</td>
              <td>COURSE DESCRIPTION</td>
              <td style="width: 60px;">UNITS<br><span class="h-units"><p>Lab</p><p>Lec</p></span></td>
              <td style="width: 40px;">DAYS</td>
              <td style="width: 140px;">TIME</td>
              <td style="width: 50px;">ROOM</td>
              <td style="width: 100px;">INSTRUCTOR</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="code">CAP401</td>
              <td class="cap">Capstone Project2</td>
              <td class="units"><p>1</p><p>2</p></td>
              <td>THU</td>
              <td style="width: 120px;">05:00 PM-08:30 PM</td>
              <td></td>
              <td>Brigildo</td>
            </tr>
            <tr>
              <td class="code">IT402</td>
              <td class="cap">Free Elective</td>
              <td class="units"><p>1</p><p>2</p></td>
              <td>MW</td>
              <td style="width: 120px;">06:00 PM-08:30 PM</td>
              <td></td>
              <td>Cilin</td>
            </tr>
            <tr>
              <td class="code">SP403</td>
              <td class="cap">Social and Professional Issues</td>
              <td class="units"><p></p><p>3</p></td>
              <td>MONT</td>
              <td style="width: 120px;">01:00 PM-03:00 PM</td>
              <td></td>
              <td>Lisondra</td>
            </tr>
            <tr>
              <td class="code">IT404</td>
              <td class="cap">Seminars in IT Trends</td>
              <td class="units"><p></p><p>3</p></td>
              <td>SAT</td>
              <td style="width: 120px;">07:30 PM-10:30 PM</td>
              <td></td>
              <td>Quiroga</td>
            </tr>
            <tr>
              <td class="code">IT404</td>
              <td class="cap">System Administrator and Maintenance</td>
              <td class="units"><p>1</p><p>2</p></td>
              <td>SAT</td>
              <td style="width: 120px;">01:00 PM-06:00 PM</td>
              <td></td>
              <td>Cilin</td>
            </tr>
            <tr>
              <td class="code">&nbsp;</td>
              <td class="cap"></td>
              <td class="units"><p>&nbsp;</p><p></p></td>
              <td></td>
              <td style="width: 120px;"></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="code">&nbsp;</td>
              <td class="cap"></td>
              <td class="units"><p>&nbsp</p><p></p></td>
              <td></td>
              <td style="width: 120px;"></td>
              <td></td>
              <td></td>
            </tr>
              <td class="code nb"></td>
              <td class="cap" style="text-align: right !important;border-left: none !important;"><b>Total Number of Units</b></td>
              <td>15</td>
              <td class="nb"></td>
              <td class="nb" style="width: 120px;"></td>
              <td class="nb"></td>
              <td class="nb"></td>
            </tr>
          </tbody>
        </table>
        <!-- end of courses -->

     </div>

     <div class="applicant">
      <p>Mark Eliezon U. Aniñon<br>  <b>Applicant's Signature above Printed Name</b></p>
    </div>

    <p style="font-size: 12px;margin-top: -10px;"><b>Approved by:</b></p>

    <div class="approved-by">
      <p><b>Program Head</b></p>
      <p style="padding-left: 35px;"><b>Dean</b></p>
      <p style="padding-left: 25px;"><b>Registrar</b></p>
      <p style="padding-left: 30px;"><b>Cashier</b></p>
    </div>

      </div>
       <!-- end of row -->
      </div>
      <!-- end of container -->
</body>
</html>